*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Foldery generowane przez system budowania
.gradle/
build/

# Pliki lokalne Android Studio i IntelliJ
.idea/
*.iml
*.hprof
local.properties

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki środowiska wirtualnego Pythona (dla serwera)
AndroidMouseAlfa/.venv/
